[submodule "week-9/assignments/advanced-nft/lib/forge-std"]
	path = week-9/assignments/advanced-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-10/assignments/ethernaut-challenges/lib/forge-std"]
	path = week-10/assignments/ethernaut-challenges/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-10/assignments/upgradable-contracts/lib/forge-std"]
	path = week-10/assignments/upgradable-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-12/assignments/crypto-wallet/lib/forge-std"]
	path = module-12/assignments/crypto-wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-12/assignments/dvd/lib/forge-std"]
	path = module-12/assignments/dvd/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-12/assignments/cte/lib/forge-std"]
	path = module-12/assignments/cte/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-12/assignments/ethernaut/lib/forge-std"]
	path = module-12/assignments/ethernaut/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-12/assignments/ethernaut/lib/openzeppelin-contracts"]
	path = module-12/assignments/ethernaut/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "module-11/assignments/crypto-wallet/backend/lib/forge-std"]
	path = module-11/assignments/crypto-wallet/backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-14/assignments/stable-coin/lib/forge-std"]
	path = module-14/assignments/stable-coin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "module-14/assignments/stable-coin/lib/openzeppelin-contracts"]
	path = module-14/assignments/stable-coin/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "module-14/assignments/stable-coin/lib/chainlink"]
	path = module-14/assignments/stable-coin/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
