[submodule "week-9/assignments/advanced-nft/lib/forge-std"]
	path = week-9/assignments/advanced-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week-10/assignments/ethernaut-challenges/lib/forge-std"]
	path = week-10/assignments/ethernaut-challenges/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
